body {
    background-color: #AED085;
}

.presentacion {
    text-align: center;
    margin: 3rem 1rem 1rem;
}

.formulario {
    text-align: center;
}

input[type="text"] {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 300px;
}

input[type="password"] {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 300px;
}

.boton {
    color: white;
    background-color: #515D41;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    width: 200px;
}

.boton:hover {
    background-color: #708f47;
    color: black;
}