* {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #AED085;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #515D41;
    border-radius: 8px;
    margin: 20px 0;
}

.logo i {
    font-size: 1.5rem;
    color: #333;
}

.search-bar {
    flex-grow: 1;
    margin: 0 15px;
    display: flex;
    align-items: center;
    background-color: #96A97C;
    border-radius: 8px;
    padding: 0 10px;
}

/* Estilo del ícono de búsqueda */
.search-bar .fa-search {
    color: #62775B;
    font-size: 1rem;
    margin-right: 8px;
}
.search-bar input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px;
    font-size: 1rem;
    width: 100%;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    cursor: pointer;
}

.profile span {
    font-size: 0.9rem;
    color: white;
}

.post-list {
    margin-top: 20px;
}

.post-item {
    display: flex;
    align-items: center;
    background-color: #f5f7f0;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.post-item .foto-post {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 15px;
}

.post-content {
    flex-grow: 1;
}

.post-content h3 {
    font-size: 1.2rem;
    color: #333;
}

.post-content p {
    font-size: 0.9rem;
    color: #666;
}

.post-content .contenido-publicacion {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1058px;
}

.post-content .date {
    display: block;
    font-size: 0.8rem;
    color: #aaa;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-info span {
    font-size: 1.3rem;
    color: #333;
}

.icons {
    display: flex;
    align-items: center;
}

.icons span {
    margin-right: 10px;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #515D41;
    border-radius: 8px;
}

.pagination i, .pagination span {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
}
/* Logo personalizado al lado del input */
.custom-logo img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.custom-logo2 img {
    width: 60px;
    height: 60px;
    cursor: pointer;

}

/* Estilo del placeholder con ícono de lupa */
.search-bar input::placeholder {
    font-family: 'Font Awesome 5 Free', Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
}


.usuario{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.pinned-posts {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #96A97C;
}

.pinned-posts .post-item {
    background-color: #e0eadf; /* Un color ligeramente diferente */
    border: 2px solid #AED085;
}

.pinned-posts .post-item h3 {
    color: #4a5d3f; /* Un color más oscuro para distinguir */
}


.pinned-posts .post-item {
    position: relative; /* Necesario para posicionar el icono de pin */
}

.pinned-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    color: #00aaff; /* Color dorado */
    transform: rotate(-30deg); /* Rotación para darle estilo */
}


.pinned-icon2 {
    font-size: 1.3rem;
    color: #030303; /* Color dorado */
    transform: rotate(30deg); /* Rotación para darle estilo */
    cursor: pointer;
}

.fa-trash-alt {
    cursor: pointer;
}
.fa-share-alt{
    cursor: pointer;
}

a:link {
    text-decoration: none;
    margin: 0;
}

h3:hover {
    color: #708f47;
    cursor: pointer;
}

.foto-perfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.pinned-posts {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #96A97C;
}

.pinned-posts .post-item {
    background-color: #e0eadf; /* Un color ligeramente diferente */
    border: 2px solid #AED085;
}

.pinned-posts .post-item h3 {
    color: #4a5d3f; /* Un color más oscuro para distinguir */
}


.pinned-posts .post-item {
    position: relative; /* Necesario para posicionar el icono de pin */
}

.pinned-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    color: #00aaff; /* Color dorado */
    transform: rotate(-30deg); /* Rotación para darle estilo */
}


.pinned-icon2 {
    font-size: 1.3rem;
    color: #030303; /* Color dorado */
    transform: rotate(30deg); /* Rotación para darle estilo */
    cursor: pointer;
}
