<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>FiltroAutenticacion</filter-name>
        <filter-class>filtros.FiltroAutenticacion</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAutenticacion</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>controlador.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPublicacion</servlet-name>
        <servlet-class>controlador.VerPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularioRegistro</servlet-name>
        <servlet-class>controlador.FormularioRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrarse</servlet-name>
        <servlet-class>controlador.Registrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPublicacion</servlet-name>
        <servlet-class>controlador.EliminarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPublicacionAnclada</servlet-name>
        <servlet-class>controlador.VerPublicacionAnclada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolverPublicaciones</servlet-name>
        <servlet-class>controlador.VolverPublicaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnclarPublicacion</servlet-name>
        <servlet-class>controlador.AnclarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesanclarPublicacion</servlet-name>
        <servlet-class>controlador.DesanclarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolverPublicacionesAdministrador</servlet-name>
        <servlet-class>controlador.VolverPublicacionesAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPublicacionAdministrador</servlet-name>
        <servlet-class>controlador.VerPublicacionAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPublicacionAncladaAdministrador</servlet-name>
        <servlet-class>controlador.VerPublicacionAncladaAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPublicacion</servlet-name>
        <servlet-class>controlador.CrearPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearComentario</servlet-name>
        <servlet-class>controlador.CrearComentario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPublicacion</servlet-name>
        <url-pattern>/VerPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPublicacionAnclada</servlet-name>
        <url-pattern>/VerPublicacionAnclada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularioRegistro</servlet-name>
        <url-pattern>/FormularioRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrarse</servlet-name>
        <url-pattern>/Registrarse</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/NotFound.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>EliminarPublicacion</servlet-name>
        <url-pattern>/EliminarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolverPublicaciones</servlet-name>
        <url-pattern>/VolverPublicaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnclarPublicacion</servlet-name>
        <url-pattern>/AnclarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesanclarPublicacion</servlet-name>
        <url-pattern>/DesanclarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolverPublicacionesAdministrador</servlet-name>
        <url-pattern>/VolverPublicacionesAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPublicacionAdministrador</servlet-name>
        <url-pattern>/VerPublicacionAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPublicacionAncladaAdministrador</servlet-name>
        <url-pattern>/VerPublicacionAncladaAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPublicacion</servlet-name>
        <url-pattern>/CrearPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearComentario</servlet-name>
        <url-pattern>/CrearComentario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
